.column_60 {
  box-sizing: border-box;
  width: 60%;
  float: left;
  padding: 1%;

}

.column_40 {
  box-sizing: border-box ;
  width: 40%;
  float: right;
  border-left: 1px solid #cc1c1b;
  padding: 1%;
}
