.column_60 {
  width: 59%;
  float: left;
}

.column_40 {
  width: 39%;
  float: right;
  border-left: 3px solid #ccc; /* Параметры линии */
  margin-left: 3px; /* Отступ слева */
  padding-left: 6px; /* Расстояние от линии до текста */
}
