body {
  background-color: #fffde6;
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  padding: 10px;
  text-align: center;
}

.footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear: both;
}
