body {
  background-color: #fffde6;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.content {
  flex-grow: 1;
}

.header {
  padding: 10px;
  text-align: center;
}

.footer {
  position:-webkit-sticky;
  position:sticky;
  top: 0;
  padding: 10px;
  display: inline-block;
}
