* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #cbcc94;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.block60 {
  flex-basis: 60%;
  padding: 10px;
}

.block40 {
  flex-basis: 40%;
  padding: 10px;
}

.header {
  padding: 10px;
  text-align: center;
}

.footer {
  margin-top: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

